CREATE TABLE {{ .TableName }} (
{{- range $i, $col := .Columns }}
{{- if $i }},{{ end }}
    {{ $col.Name }} {{ $col.Type }}
{{- if not $col.Nullable }} NOT NULL{{ end }}
{{- if $col.PrimaryKey }} PRIMARY KEY{{ end }}
{{- if and $col.Unique (not $col.PrimaryKey) }} UNIQUE{{ end }}
{{- if $col.Default }} DEFAULT {{ $col.Default }}{{ end }}
{{- end }}
);
{{- if .ForeignKeys }}

-- Foreign key constraints
{{- range .ForeignKeys }}
ALTER TABLE {{ $.TableName }}
    ADD CONSTRAINT {{ .Name }}
    FOREIGN KEY ({{ .Column }})
    REFERENCES {{ .ReferenceTable }}({{ .ReferenceColumn }})
    ON DELETE {{ .OnDelete }}
    ON UPDATE {{ .OnUpdate }};
{{- end }}
{{- end }}
{{- if .Indexes }}

-- Indexes
{{- range .Indexes }}
{{- if not .Where }}
CREATE {{ if .Unique }}UNIQUE {{ end }}INDEX {{ .Name }}
ON {{ $.TableName }} ({{ join .Columns ", " }})
{{- if .Type }} USING {{ .Type }}{{ end }};
{{- else }}
-- Note: Partial indexes not supported in MySQL. Skipping: {{ .Name }}
{{- end }}
{{- end }}
{{- end }}
