{{- if .ForeignKeys }}
-- Drop foreign key constraints
{{- range .ForeignKeys }}
ALTER TABLE {{ $.TableName }} DROP FOREIGN KEY IF EXISTS {{ .Name }};
{{- end }}

{{- end }}
{{- if .Indexes }}
{{- range .Indexes }}
{{- if not .Where }}
DROP INDEX IF EXISTS {{ .Name }} ON {{ $.TableName }};
{{- end }}
{{- end }}

{{- end }}
DROP TABLE IF EXISTS {{ .TableName }};
